dist/

bower_components/
node_modules/

#Generated style files
src/sass/.sass-cache
.sass-cache
src/css/*

#IDE Specific files

#SublimeText
*.sublime-project
*.sublime-workspace

#IntelliJ
.idea/
*.iml
atlassian-ide-plugin.xml
*.ipr
*.iws

#Eclipse
.project

#OSX
.DS_Store
tests/runner/reports/**
